---
---

@import "{{ site.theme }}";

.wrapper {
  width:980px;
  margin:0 auto;
}

section {
  width:700px;
  float:right;
  padding-bottom:50px;
}

header img {
    max-width: 200px;
    max-height: 250px;
    display: block;
    margin-left: 0;
    margin-right: auto;
    border-radius: 8px;
}
